 
@use '../../../styles/variables' as *;

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $space-4;
  padding: $space-6 0;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    font-family: $font-primary;
    font-size: $text-sm;
    color: $gray-600;
    font-weight: $font-medium;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: $space-2;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    padding: $space-2 $space-3;
    border: $border-width-1 solid $gray-300;
    background: $white;
    color: $gray-700;
    font-family: $font-primary;
    font-size: $text-sm;
    font-weight: $font-medium;
    border-radius: $border-md;
    cursor: pointer;
    transition: all $transition-base $ease-in-out;
    
    &:hover:not(:disabled) {
      background: $primary-50;
      border-color: $primary-300;
      color: $primary-700;
      transform: translateY(-1px);
    }

    &--active {
      background: $primary-500;
      border-color: $primary-500;
      color: $white;
      
      &:hover {
        background: $primary-600;
        border-color: $primary-600;
        color: $white;
      }
    }

    &:disabled {
      background: $gray-100;
      border-color: $gray-200;
      color: $gray-400;
      cursor: not-allowed;
      transform: none;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}